extends app.pug

block main
    #calendar
        .calendar_header(v-if="date == null && time == null")
            .prev
                button.btn.btn-primary.btn-block(v-on:click="prevMonth()") prev
            .title
                div(v-if="current_object")
                    select(v-model="current_object")
                        option(v-for="(object, index) in objects" v-bind:value="object.id") {{ object.title }}
                div {{ month_name }} {{ year }}
            .next
                button.btn.btn-primary.btn-block(v-on:click="nextMonth()") next
        .calendar_header(v-if="date != null && time == null")
            .prev
                button.btn.btn-primary.btn-block(v-on:click="prevDay()") prev
            .title
                div(v-if="current_object")
                    select(v-model="current_object")
                        option(v-for="(object, index) in objects" v-bind:value="object.id") {{ object.title }}
                div {{ currentDate }}
                    a(href="#" v-on:click.prevent="clearDate") Вернуться к выбору даты
            .next
                button.btn.btn-primary.btn-block(v-on:click="nextDay()") next
        .calendar_list(v-if="date == null")
            .calendar_cell(
                v-for="day in count_month_days"
                v-bind:day="day"
                v-on:click="useDate(day)") {{ day }}
        .daylist(v-if="date != null && time == null")
            .times
                .time(
                    v-for="(time, index) in times"
                    v-bind:data-date="time"
                    v-on:click="setTime(time)")
                    span {{ time }}
            .entrys
                .entry(
                    v-for="(item, index) in entry"
                    v-bind:data-from="item.tEntryTimeFrom"
                    v-bind:data-to="item.tEntryTimeTo") {{ item }}
        .order(v-if="date != null && time != null")
            .orderform
                h3 Оформление
                a(href="#" v-on:click.prevent="clearTime") закрыть
                .form-group
                    label Дата
                    input.form-control(
                        type="text"
                        v-model="dateString"
                        disabled)
                .form-group
                    label Начало аренды
                    input.form-control(
                        type="text"
                        v-model="time"
                        disabled)
                .form-group
                    label Продолжительность аренды
                    select.form-control(v-model="orderHoutSelect")
                        option(
                            v-for="(hour, index) in orderHour"
                            v-bind:value="hour.value") {{ hour.title }}
                    
                .form-group
                    label Стоимость часа
                    input.form-control(type="text")
                .form-group
                    label Общая стоимость
                    input.form-control(type="text")
                button.btn.btn-primary(
                    v-on:click="orderTime") Оформить
